<h1>All Movies</h1>

<table class='table'>
  <tr>
    <th>Rank</th>
    <th>Title</th>
    <th>Upvote</th>
  </tr>
  <% @movies.order(:rank).reverse.each do |movie| %>
    <tr>
      <td><%= movie.rank %></td>
      <td><%= link_to "#{movie.title}", movie_path(movie.id) %></td>
      <td><%= button_to "UPVOTE", upvote_movie_path(movie.id), method: :patch, class: 'btn btn-success btn-sm' %>
    </tr>
  <% end %>
</table>

<p><%= link_to 'Add a Movie', new_movie_path, class: 'btn btn-default btn-sm' %>

  <%= link_to 'View All Media', root_path, class: 'btn btn-default btn-sm' %></p>