<h1><%= @movie.title %></h1>
<p class="lead text-muted">Directed by: <%= @movie.director %><br>
  Ranked: <%= @movie.rank %></p>
<p><%= @movie.synopsis %></p>

<br>

<p><%= link_to "UPVOTE", upvote_movie_path(@movie.id), method: :patch, class: 'btn btn-success btn-sm' %> 

  <%= link_to "EDIT", edit_movie_path(@movie.id), class: 'btn btn-info btn-sm' %> 

  <%= link_to "DELETE", delete_movie_path(@movie.id), method: :delete, data: { confirm: 'Are you sure?' } , class: 'btn btn-danger btn-sm' %></p>

<p><%= link_to "View All Movies", movies_path, class: 'btn btn-default btn-sm' %>

  <%= link_to "View All Media", root_path, class: 'btn btn-default btn-sm' %></p>