<h1>movies#show</h1>

<p><%= @movie.title %></p>
<p><%= @movie.director %></p>
<p><%= @movie.rank %></p>
<p><%= @movie.synopsis %></p>

<p><%= link_to "Edit #{@movie.title}", edit_movie_path %></p>

Delete