<table class='audreys_table'>
  <tr>
    <td>
      <h2>Top Movies</h2>

      <% @top_five_movies.each do |movie| %>
        <h3><%= link_to "#{movie.title}", movie_path(movie.id) %></h3>
        <div class="text-muted">Ranked: <%= movie.rank %></div>
      <% end %>

      <br>

      <%= link_to "View All Movies", movies_path, class: 'btn btn-default btn-sm' %>
    </td>

    <td>
      <h2>Top Books</h2>

      <% @top_five_books.each do |book| %>
        <h3><%= link_to "#{book.title}", book_path(book.id) %></h3>
        <div class="text-muted">Ranked: <%= book.rank %></div>
      <% end %>

      <br>

      <%= link_to "View All Books", books_path, class: 'btn btn-default btn-sm' %>
    </td>

    <td>
      <h2>Top Albums</h2>

      <% @top_five_albums.each do |album| %>
        <h3><%= link_to "#{album.title}", album_path(album.id) %></h3>
        <div class="text-muted">Ranked: <%= album.rank %></div>
      <% end %>

      <br>

      <%= link_to "View All Albums", albums_path, class: 'btn btn-default btn-sm' %>
    </td>
  </tr>
</table>