<h1>All Books</h1>

<table class='table'>
  <tr>
    <th>Rank</th>
    <th>Title</th>
    <th>Upvote</th>
  </tr>
  <% @books.order(:rank).reverse.each do |book| %>
    <tr>
      <td><%= book.rank %></td>
      <td><%= link_to "#{book.title}", book_path(book.id) %></td>
      <td>
        <%= form_for book do |f| %>
          <%= f.hidden_field :upvote %>
          <%= f.submit "UPVOTE", class: 'btn btn-success btn-sm' %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<p><%= link_to 'Add a Book', new_book_path, class: 'btn btn-default btn-sm' %>

  <%= link_to 'View All Media', root_path, class: 'btn btn-default btn-sm' %></p>