<h1><%= @book.title %></h1>
<p>Written by: <%= @book.author %></p>
<p>Ranked: <%= @book.rank %></p>
<p><%= @book.description %></p>

<p><%= button_to "Upvote", upvote_book_path(@book.id), method: :patch %></p>

<p><%= button_to "Edit #{@book.title}", edit_book_path(@book.id), method: :get %></p>

<p><%= button_to "Delete", delete_book_path(@book.id), method: :delete, data: { confirm: 'Are you sure?' } %></p>

<p><%= button_to "View All Books", books_path, method: :get %></p>

<p><%= button_to "View All Media", root_path, method: :get %></p>