<h1>All Albums</h1>

<table class='table'>
  <tr>
    <th>Rank</th>
    <th>Title</th>
    <th>Upvote</th>
  </tr>
  <% @albums.order(:rank).reverse.each do |album| %>
    <tr>
      <td><%= album.rank %></td>
      <td><%= link_to "#{album.title}", album_path(album.id) %></td>
      <td><%= button_to "UPVOTE", upvote_album_path(album.id), method: :patch, class: 'btn btn-success btn-sm' %>
    </tr>
  <% end %>
</table>

<p><%= link_to 'Add an Album', new_album_path, class: 'btn btn-default' %>

  <%= link_to 'View All Media', root_path, class: 'btn btn-default' %></p>