<!DOCTYPE html>
<html>
<head>
  <title>MediaRanker</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class='header'>
  <h1><%= image_tag('logo.png', width: '125px') %><%= link_to "Media Ranker", root_path %></h1>
</div>

<div class='container'>
  <%= yield %>
</div>

</body>
</html>